.cart_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 350px;
  }

  .cart_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    color: #561a71;
    text-shadow: .5px .5px .5px;
    letter-spacing: .7px;
    max-width: 60vw;
    background-color: rgb(254, 246, 241);
    padding: 3rem;
    margin: 0 0 0 16vw;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.288);
    border-radius: 36px;
  }
    
  .cart_title p {
    color: #642a8b;
    text-shadow: 1px 1px 1px;
    font-size: 55px;
    margin-bottom: 2rem;
  }