.signin {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 250px 0 15vh 0;
    padding-top: 20px;
    padding-bottom: 25px;
    width: 100%;
    color: #6c1f96;
    text-shadow: 1px 1px 2px;
    background: rgb(250, 243, 238);
    box-shadow: 1px 1px 10px;
}

.signin p {
    font-size: 55px;
}

.signin-form {
    max-width: 50vw;
}

.sign-up {
    color: #6c1f96;
    text-shadow: 1px 1px 2px;
}


@media (max-width: 768px) {
    .signin {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        margin: 140px 0 15vh 0;
        padding-top: 20px;
        padding-bottom: 25px;
    }
    
    .signin p {
        font-size: 45px;
    }
    
    .sign-up {
        color: #6c1f96;
        text-shadow: 1px 1px 2px;
        font-size: 45px;
    }
    
    .signin-form {
        max-width: 100%;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 400px;
        margin-left: 0;
    }

    .signin button {
        width: 100px;
        margin: 10px 0 10px 35%;
    }
}